/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel 12 specific
/public/storage
/public/hot
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/build
/.env
/.env.local
/.env.*.local

# IDE and Editor folders
/.idea
/.vscode

# Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit
.phpunit.result.cache

# Other
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db